In [64]:
import pandas as pd
import datetime

In [25]:
base_date = '20180731'

In [66]:
root_path = '/Users/susynishida/Desktop/dev/Python/Finance/discount_factor/'

In [27]:
IR_input = '/IR.csv'

In [68]:
df_IR = pd.read_csv(root_path + 'input/' + base_date + IR_input)

In [69]:
df_IR.head()

        Date Money_market Tenor Currency      Rate  lag(day)  Freqency(month)
0  2018/7/31        LIBOR   O/N      USD  0.019154         2              NaN
1  2018/7/31        LIBOR    1W      USD  0.019536         2              NaN
2  2018/7/31        LIBOR    1M      USD  0.020814         2              NaN
3  2018/7/31        LIBOR    2M      USD  0.021791         2              NaN
4  2018/7/31        LIBOR    3M      USD  0.023486         2              NaN

In [93]:
class discount_factor():
    def __init__(self, df):
        self._df_ir = df
        self._base_date_obj = datetime.datetime.strptime(self._df_ir['Date'][0], '%Y/%m/%d')
        self._spot_date = self._base_date_obj + datetime.timedelta(days=int(self._df_ir['lag(day)'][0]))
        
    def get_raw_rate(self, str_tenor):
        return self._df_ir[self._df_ir['Tenor'] == str_tenor]['Rate'][0]
    
def tenor_to_days(str_tenor):
    if(str_tenor=='O/N'):
        days = 1
    elif(str_tenor=='T/N'):
        days = 2
    elif(str_tenor[-1]=='W'):
        days = int(str_tenor[0:len(str_tenor)-1]) * 7
    elif(str_tenor[-1]=='M'):
        days = int(str_tenor[0:len(str_tenor)-1]) * 30
    elif(str_tenor[-1]=='Y'):
        days = int(str_tenor[0:len(str_tenor)-1]) * 365
    return days

In [78]:
DF_obj = discount_factor(df_IR)

In [55]:
DF_obj.get_raw_rate('O/N')

0.0191538

In [59]:
date_obj = datetime.datetime.strptime('2018/07/31', '%Y/%m/%d')

In [79]:
(date_obj + datetime.timedelta(days=2)).strftime('%Y/%m/%d')

'2018/08/02'

In [100]:
tenor_to_days('1M')

30