In [48]:
import pandas as pd
import numpy as np

In [8]:
df_input_saccr = pd.read_excel('input_BACVA.xlsx')
df_input_saccr.head()

   CUSTOMOR_NUM NETTING_SET           EAD   MATURITY
0      41747204     BIS0010  74028.399812  16.563736
1      41747204     BIS0010  17556.113430   0.893127
2      41747204     BIS0010   9469.513543  19.429423
3      41747204     BIS0010  82403.217982  12.074124
4      41747204     BIS0010  78318.052405  11.715427

In [14]:
df_input_saccr.groupby('NETTING_SET')['EAD'].sum()

NETTING_SET
BIS0010    261775.297171
BIS0020     92244.587327
BIS0981     55207.549548
BIS0987    179254.128694
BIS1097     79009.651022
BIS1327    380734.581479
BIS7778    166438.440386
BIS7865    628405.921038
BIS8753     72174.989191
BIS8765    159193.417691
Name: EAD, dtype: float64

In [57]:
df_input_saccr_2 = df_input_saccr.assign(EAD_MATURITY=df_input_saccr['EAD']*df_input_saccr['MATURITY'])
df_input_saccr_3 = df_input_saccr_2.assign(DF=((1-np.exp(-0.05*df_input_saccr_2['MATURITY']))/(0.05*df_input_saccr_2['MATURITY'])))
df_input_saccr_3.head()

   CUSTOMOR_NUM NETTING_SET           EAD   MATURITY  EAD_MATURITY        DF
0      41747204     BIS0010  74028.399812  16.563736  1.226187e+06  0.679991
1      41747204     BIS0010  17556.113430   0.893127  1.567984e+04  0.978001
2      41747204     BIS0010   9469.513543  19.429423  1.839872e+05  0.639725
3      41747204     BIS0010  82403.217982  12.074124  9.949467e+05  0.750727
4      41747204     BIS0010  78318.052405  11.715427  9.175295e+05  0.756820

In [63]:
df_input_saccr_4  = df_input_saccr_3.assign(DF_EAD_MAT=df_input_saccr_3['EAD_MATURITY']*df_input_saccr_3['DF'])
alpha = 1.4
df_input_saccr_5 = df_input_saccr_4.assign(SCVA = df_input_saccr_4['DF_EAD_MAT']/alpha)
df_input_saccr_5.groupby('NETTING_SET')['SCVA'].sum()

NETTING_SET
BIS0010    1.720122e+06
BIS0020    7.981512e+05
BIS0981    8.871280e+04
BIS0987    1.296386e+06
BIS1097    2.737743e+05
BIS1327    1.158080e+06
BIS7778    7.459311e+05
BIS7865    2.639156e+06
BIS8753    2.337454e+05
BIS8765    4.320362e+05
Name: SCVA, dtype: float64