In [74]:
import pandas as pd
import numpy as np

## input data

In [75]:
df_saccr = pd.read_excel('input_BACVA.xlsx')
df_saccr.head()

   CUSTOMER_NUM NETTING_SET           EAD   MATURITY
0      41747204     BIS0010  74028.399812  16.563736
1      41747204     BIS0010  17556.113430   0.893127
2      41747204     BIS0010   9469.513543  19.429423
3      41747204     BIS0010  82403.217982  12.074124
4      41747204     BIS0010  78318.052405  11.715427

## calclation flow
 1. Add columns : product EAD by Maturity
 1. Add DF defined by basel III
 1. Add columns: EAD_MATURITY * DF
 1. Add columns: SCVA

In [76]:
# add columns: EAD * Maturity
df_saccr['EAD_MAT'] = df_saccr['EAD']*df_saccr['MATURITY']

# add columns: DF defined by Basel
df_saccr['DF'] = ((1-np.exp(-0.05*df_saccr['MATURITY']))/(0.05*df_saccr['MATURITY']))

# add columns: EAD_Maturity * DF
df_saccr['EAD_MAT_DF'] = df_saccr['EAD_MAT'] * df_saccr['DF']

# add columns: SCVA
saccr_alpha = 1.4
df_saccr['SCVA'] = df_saccr['EAD_MAT_DF'] / saccr_alpha

df_saccr.head()

,CUSTOMER_NUM,NETTING_SET,EAD,MATURITY,EAD_MAT,DF,EAD_MAT_DF,SCVA
0,41747204,BIS0010,74028.399812,16.563736,1.226187e+06,0.679991,833795.722674,595568.373339
1,41747204,BIS0010,17556.113430,0.893127,1.567984e+04,0.978001,15334.888703,10953.491931
2,41747204,BIS0010,9469.513543,19.429423,1.839872e+05,0.639725,117701.173979,84072.267128
3,41747204,BIS0010,82403.217982,12.074124,9.949467e+05,0.750727,746933.438869,533523.884906
4,41747204,BIS0010,78318.052405,11.715427,9.175295e+05,0.756820,694404.989420,496003.563872

In [79]:
groupby_obj_saccr = df_saccr.groupby('NETTING_SET')
groupby_obj_saccr['SCVA'].sum().reset_index()

  NETTING_SET          SCVA
0     BIS0010  1.720122e+06
1     BIS0020  7.981512e+05
2     BIS0981  8.871280e+04
3     BIS0987  1.296386e+06
4     BIS1097  2.737743e+05
5     BIS1327  1.158080e+06
6     BIS7778  7.459311e+05
7     BIS7865  2.639156e+06
8     BIS8753  2.337454e+05
9     BIS8765  4.320362e+05

In [73]:
'''
df_saccr_ead_by_mat = df_input_saccr.assign(EAD_MATURITY=df_input_saccr['EAD']*df_input_saccr['MATURITY'])
df_saccr_ead_by_mat.head()
df_saccr_DF = df_saccr_ead_by_mat.assign(DF=((1-np.exp(-0.05*saccr_ead_by_mat['MATURITY']))/(0.05*df_saccr_ead_by_mat['MATURITY'])))
df_input_saccr_3.head()
df_input_saccr_4  = df_input_saccr_3.assign(DF_EAD_MAT=df_input_saccr_3['EAD_MATURITY']*df_input_saccr_3['DF'])
df_input_saccr_4.head()
alpha = 1.4
df_input_saccr_5 = df_input_saccr_4.assign(SCVA = df_input_saccr_4['DF_EAD_MAT']/alpha)
df_input_saccr_5
'''

"\ndf_saccr_ead_by_mat = df_input_saccr.assign(EAD_MATURITY=df_input_saccr['EAD']*df_input_saccr['MATURITY'])\ndf_saccr_ead_by_mat.head()\ndf_saccr_DF = df_saccr_ead_by_mat.assign(DF=((1-np.exp(-0.05*saccr_ead_by_mat['MATURITY']))/(0.05*df_saccr_ead_by_mat['MATURITY'])))\ndf_input_saccr_3.head()\ndf_input_saccr_4  = df_input_saccr_3.assign(DF_EAD_MAT=df_input_saccr_3['EAD_MATURITY']*df_input_saccr_3['DF'])\ndf_input_saccr_4.head()\nalpha = 1.4\ndf_input_saccr_5 = df_input_saccr_4.assign(SCVA = df_input_saccr_4['DF_EAD_MAT']/alpha)\ndf_input_saccr_5\n"