In [2]:
import pandas as pd

In [4]:
df = pd.read_excel('input_BACVA.xlsx')
df.head()

   CUSTOMER_NUM NETTING_SET           EAD   MATURITY
0      41747204     BIS0010  74028.399812  16.563736
1      41747204     BIS0010  17556.113430   0.893127
2      41747204     BIS0010   9469.513543  19.429423
3      41747204     BIS0010  82403.217982  12.074124
4      41747204     BIS0010  78318.052405  11.715427

In [5]:
df.groupby('NETTING_SET')['EAD'].sum()

NETTING_SET
BIS0010    261775.297171
BIS0020     92244.587327
BIS0981     55207.549548
BIS0987    179254.128694
BIS1097     79009.651022
BIS1327    380734.581479
BIS7778    166438.440386
BIS7865    628405.921038
BIS8753     72174.989191
BIS8765    159193.417691
Name: EAD, dtype: float64

In [21]:
df.assign(EAD_MATURITY=df['EAD']*df['MATURITY']).head()

   CUSTOMER_NUM NETTING_SET           EAD   MATURITY  EAD_MATURITY
0      41747204     BIS0010  74028.399812  16.563736  1.226187e+06
1      41747204     BIS0010  17556.113430   0.893127  1.567984e+04
2      41747204     BIS0010   9469.513543  19.429423  1.839872e+05
3      41747204     BIS0010  82403.217982  12.074124  9.949467e+05
4      41747204     BIS0010  78318.052405  11.715427  9.175295e+05