In [89]:
import pandas as pd
import numpy as np
import datetime

In [134]:
import subprocess
subprocess.run(['jupyter', 'nbconvert', '--to', 'python', 'new_transaction.ipynb'])

CompletedProcess(args=['jupyter', 'nbconvert', '--to', 'python', 'new_transaction.ipynb'], returncode=0)

In [90]:
basedate1 = '2018/6/4'
basedate2 = '2018/6/11'

In [140]:
def date_to_8digit(excel_format_date):
    dt_obj_date = datetime.datetime.strptime(excel_format_date, '%Y/%m/%d')
    date_to_8_digit = dt_obj_date.strftime('%Y%m%d')
    return date_to_8_digit

def import_tran_csv(basedate):
    date = date_to_8digit(basedate)
    df = pd.read_csv('transaction_' + date + '.csv')
    return df

def transaction_by_comp_num(comp_num, basedate):
    str_comp_num = str(compnum)
    df_tran_csv = import_tran_csv(basedate)
    extract_tran_comp_num =  df_tran_scv.query(str_companu_num + '==' + basedate)
    return extract_tran_comp_num

In [141]:
df= import_tran_csv('2018/06/04')
df_tran = import_tran_csv('2018/06/04')['company_num']

In [142]:
df.query('company_num == 1234567890')

,base_date,company_num,product,tran_num,CCY_rec,CCY_pay,start_date,end_date
0,2018/6/4,1234567890,IRS,IR16,JPY,JPY,2015/4/23,2029/4/23
1,2018/6/4,1234567890,CCS,CC06,JPY,USD,2016/12/5,2019/6/5

In [144]:
transaction_by_comp_num('1234567890', '20180604')

NameError: name 'compnum' is not defined